/* 
// *************************************************************************************************
// Title: 		PHP AGTC-Membership system v1.1a
// Developed by: Andy Greenhalgh
// Email:		andy@agtc.co.uk
// Website:		agtc.co.uk
// Copyright:	2005(C)Andy Greenhalgh - (AGTC)
// Licence:		GPL, You may distribute this software under the terms of this General Public License
// *************************************************************************************************
// CSS Document */
tr {height:20px;
}
.standardText a:hover {text-decoration:none;
color:#FF0000;
font-family:Arial, Helvetica, sans-serif;
font-size:xx-small;
}


.standardText {text-decoration:underline;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:xx-small;
}
.standardText a:hover {text-decoration:none;
color:#00FFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:xx-small;
}

.smallTextBlack {
font-family:Arial, Helvetica, sans-serif;
font-size:xx-small;
color:#000000;


}
.medTextBlack {
font-family:Arial, Helvetica, sans-serif;
font-size:x-small;
color:#000000;


}
.smallTextWhite {
font-family:Arial, Helvetica, sans-serif;
font-size:xx-small;
color:#FFFFFF;


}
.smallErrorText {
font-family:Arial, Helvetica, sans-serif;
font-size:xx-small;
color:#FF0000;


}


table {border: 1px solid #3333ff;
}
td {border: 1px solid #dddddd;
padding:2px;
font-family: Arial, Helvetica, sans-serif;
font-size:xx-small;
color:#000000;
text-decoration:none;
}
.header {margin-left:20px;
background-image:url(../login/images/bar.gif);
border: 1px solid #dddddd;
padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:small;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}