div#mainframe {
    float: left;
    max-width: 1000px;
}

div#mainpage {
    margin-top: 25px;
    clear: both;
    color: #000 !important;
    background-color: #fff !important;
}

div#zoeknaam {
    float: left;
    color: #000 !important;
    background-color: #fff !important;
}

div#navigatie {
    width: 210px;
    font-size: 12px;
}

#navcontainer {
    width: 195px;
    background-color: white;
    display: block;
    margin-bottom: 20px;
}

#navcontainer li {
    padding-bottom: 0;
    line-height: 1.2em;
    font-size: 13px;
}

ul#navlist {
    margin: 0;
    padding: 0;
}

#navlist a:link,
#navlist a:visited {
    display: block;
    color: black;
}

#navlist a:hover,
#navlist a:active {
    display: block;
    background-color: grey;
    color: white;
}

#navcontainer ul {
    list-style-type: none;
}

#navcontainer li.active {
    border-bottom: none;
}

#navcontainer li.active a {
    text-decoration: none;
    width: 195px;
}

.NogNietBevestigd {
    background: Orange;
}

a.button {
    appearance: button;
    color: initial;
    text-decoration: none;
    font-size: small;
}

.container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 4px;
    column-gap: 4px;
    margin: 16px 8px 16px 8px;
    clear: both;
}

.grid_item {
    width: 180px;
    background-color: palegoldenrod;
    text-align: center;
    border: 1px solid grey;
}

/* Make a one column-layout instead of three-column layout */
@media (max-width: 600px) {
    .container {
        grid-template-columns: auto;
        width: 200px;
        float: left;
        clear: both;
    }
}