@charset "utf-8";
@import "/css/w3.css";
/* mailing.less Versie 1.0 auteur: Dirkjan Horringa */
body {
  font: 15px "Alegreya Sans", Verdana, sans-serif;
}
p,
td,
li,
a {
  font: 15px "Alegreya Sans", Verdana, sans-serif;
}
h1 {
  text-transform: uppercase;
  color: #381b1b;
  font: bold 180%/1.5em "Cambria", "serif";
}
h2 {
  font-family: "Cambria", "serif";
  color: #c7352e;
  text-align: left;
  padding-bottom: -15px;
  font: bold 2em;
  letter-spacing: 0.06em;
  padding-top: 0.63em;
}
h3 {
  font-family: "Cambria", "serif";
  font-size: 1.2em;
  font-weight: bold;
  color: #3b7e36;
  letter-spacing: 0.1em;
  padding-top: 0.63em;
}
h4 {
  font-family: "Cambria", "serif";
  font-size: 1.1em;
  font-weight: bold;
  color: #0054a8;
  letter-spacing: 0.06em;
  padding-top: 0.63em;
  margin-bottom: -0.2em;
}
h5 {
  font-size: 110%;
  font-weight: bold;
  color: #862437;
  text-align: center;
}
ul {
  list-style-image: none;
  text-align: left;
  font-size: 13px;
  list-style: square outside none;
}
li {
  padding-bottom: 0.31em;
}
a:active {
  color: #60f;
  text-decoration: underline;
}
a:link {
  color: #63c;
  text-decoration: underline;
}
a:visited {
  color: #636;
  text-decoration: underline;
}
a:hover {
  color: #63f;
  text-decoration: underline;
}
img {
  border: 1px solid black;
}
img.geenlijn {
  border: none;
}
.chamber {
  color: #c01115;
}
.baroque {
  color: #d17f00;
}
.classical {
  color: #106d8c;
}
.romantic {
  color: #044efa;
}
.groot {
  font-size: 150%;
  text-align: left;
}
.nadruk {
  color: #f00;
  font-weight: bold;
  font-size: 80%;
}
.kleinkap {
  font-variant: small-caps;
}
.klein {
  font-size: 70%;
}
.grijs {
  color: #999;
}
.centreer {
  text-align: center;
}
.opvallend {
  color: #090;
}
.inleiding {
  font: 150% Georgia, "Times New Roman", Times, serif;
  margin-top: 10px;
}
.plaatsvoor {
  font-weight: bold;
  background: #ffffcc;
  border: 1px solid #000000;
  margin-top: 2em;
  padding-left: 10px;
}
.onzichtbaar {
  display: none;
}
table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
td {
  padding-right: 5px;
  padding-left: 5px;
}
th {
  font-style: italic;
  color: black;
  font-size: 13px;
  background: #e697a7;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}
p.volvoor {
  font-weight: bold;
  background: #ffcaca;
  border: 1px solid #cc0000;
  padding-left: 10px;
  color: #cc0000;
}
p.plaatsvoor {
  font-weight: bold;
  background: #c4ffc4;
  border: 1px solid #009700;
  padding-left: 10px;
  color: #009700;
}
