div#inhoud {
	clear: both;
	max-width: 1200px;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
}
div#top {
	margin-left: 0px;
}
div#main {
	margin-left: 0px;
}
@media screen and (max-width: 992px) {
div#inhoud {
	clear: both;
	margin: 0px;
}
div#top {
	margin: 0px;
	padding: 20px;
}
div#top img {
	height:auto; 
	width: 500px; 
	max-width:600px; 
	max-height:112px;
}
div#banner {
	display: none;
}
div#main {
	margin-left: 0px;
	margin-top: 0px;
	position: relative;
	clear:both !important;
}
}
@media print {
div#inhoud {
	margin: 0px !important;
	padding: 0px !important;
}
div#main {
	margin-left: 0px !important;
	padding: 0px;
	border: 0px double #FFF !important;
}
div#cursus_form {
	margin-left: 0px !important;
	padding: 0px;
	border: 0px double #FFF !important;
}
div#top {
	display:none;
}
}
