div#inhoud {
    float: left;
    display: block;
    max-width: 1000px;
}

div#navigatie {
    display: block;
    position: fixed;
    width: 210px;
    font-size: 12px;
    float: left;
}

#navcontainer {
    width: 195px;
    background-color: white;
    display: block;
    margin-bottom: 20px;
}

#navcontainer li {
    padding-bottom: 0;
    line-height: 1.2em;
    font-size: 13px;
}

ul#navlist {
    margin: 0;
    padding: 0;
}

#navlist a:link,
#navlist a:visited {
    display: block;
    color: black;
}

#navlist a:hover,
#navlist a:active {
    display: block;
    background-color: grey;
    color: white;
}

#navcontainer ul {
    list-style-type: none;
}

#navcontainer li.active {
    border-bottom: none;
}

#navcontainer li.active a {
    text-decoration: none;
    width: 195px;
}

.NogNietBevestigd {
    background: Orange;
}

a.button {
    appearance: button;
    text-decoration: none;
    font-size: small;
}